<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springbootdemo.dao.SchoolClassMapper">
  <resultMap id="BaseResultMap" type="com.example.springbootdemo.model.SchoolClass">
    <!--  WARNING - @mbg.generated 自动生成的标识，请不要删除 -->
    <constructor>
      <idArg column="ID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="CLASS_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    <!--  WARNING - @mbg.generated 自动生成的标识，请不要删除 -->
    ID, CLASS_NAME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--  WARNING - @mbg.generated 自动生成的标识，请不要删除 -->
    select 
    <include refid="Base_Column_List" />
    from school_class
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--  WARNING - @mbg.generated 自动生成的标识，请不要删除 -->
    delete from school_class
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.springbootdemo.model.SchoolClass">
    <!--  WARNING - @mbg.generated 自动生成的标识，请不要删除 -->
    insert into school_class (ID, CLASS_NAME)
    values (#{id,jdbcType=INTEGER}, #{className,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.springbootdemo.model.SchoolClass">
    <!--  WARNING - @mbg.generated 自动生成的标识，请不要删除 -->
    insert into school_class
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="className != null">
        CLASS_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="className != null">
        #{className,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.springbootdemo.model.SchoolClass">
    <!--  WARNING - @mbg.generated 自动生成的标识，请不要删除 -->
    update school_class
    <set>
      <if test="className != null">
        CLASS_NAME = #{className,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.springbootdemo.model.SchoolClass">
    <!--  WARNING - @mbg.generated 自动生成的标识，请不要删除 -->
    update school_class
    set CLASS_NAME = #{className,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>